<% if notice %>
<p id="notice"><%= flash[:notice] %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @product.ingredients %>
</p>

<p>
  <b>Image url:</b>
  <%= @product.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
